body {
    background: #232524;
}

/* Navbar styling */

.navbar_container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.header__logo > img{
    height: 3.2rem;
    width: 3.2rem;
}
.user_nav {
    display: flex;
    margin-right: 70px;
    gap: 10px;
    width:100px;
    height: 40px;
    justify-content: space-around;
}
.search__container{
    width: 100%;
    margin: 0 100px 0 50px;
}
.search__container > input{
    width: 100%;
}
.login-el, .signup-el{
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 30px;
    color: black;
    background-color: #e5e5e5;
}
.signup-el {
    color: white;
    background-color: #E60023;
}
.search-box{
    border-radius: 20px;
    border: none;
    background-color: #e5e5e5;
    padding: 10px 0px;
    text-indent: 15px;
}

/* Pin styling */
* {
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Helvetica", sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
  }

.all-pins{
    /* display: flex;
    /* flex-direction: column; 
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px; */
    width: 98%;
    margin: 20px auto;
    column-gap: 20px;
    columns: 4;
}

.all-pins .pin{
    /* border-radius: 15px;
    background-color: #E60023;
    width: 24%;
    padding: 10px; */
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
    transition: opacity 0.2s ease;
}
.all-pins .pin img {
    /* width:100%;
    border-radius: 15px; */
    max-width: 100%;
    border-radius: 15px;
}

.title, .username {
    display: none;
    color: #e5e5e5;
}

.pin{
    position: relative;
}

.title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.username{
    position: absolute;
    bottom: 13px;
    left: 13px;
}

.pin:hover{
    img {
    opacity: 0.3;
    }
    .title, .username{
        display: initial;
    }

}

@media (max-width: 1200px){
    .all-pins {
        width: calc(100% - 40px);
        columns: 3;
    }
}

@media (max-width: 768px){
    .all-pins {
        width: calc(100% - 40px);
        columns: 2;
    }
}