{% extends 'main.html' %}

{% block content%}

{% if page == 'login' %}
<div class="sign-in">
    <form method="POST" action="">
        {% csrf_token %}

        <label class="text">Email</label>
        <input type="text" name="username" placeholder="Enter Email" >

        <label class="text">Password</label>
        <input type="password" name="password" placeholder="Enter Password" >

        <input type="submit" value="Login">
    </form>
    <p class="text">Haven't signed up yet?</p>
    <a href="{% url 'register' %}" class="text">Sign Up</a>
</div>

{% else %}
<div class="signin">
    <form method="POST" action="" class="text">
        {% csrf_token %}
        {{form.as_p}}
        
        <input type="submit" value="Register">
    </form>
    <p class="text">Already signed up?</p>
    <a href="{% url 'login' %}" class="text">Login</a>
</div>
{% endif %}

{% endblock content%}